{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - title: The human-readable label of this content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *   - url: The URL to add content of this type.
 *
 * @see template_preprocess_tripal_entity_content_add_list()
 *
 * @ingroup themeable
 */
#}
<div id="tripal-entity-add-content">
  {% for category in types %}
  <div id="category-{{ category.class }}" class="category-wrapper">
    <h3>{{category.title}}</h3>
    <div class="admin-list gin-layer-wrapper">
      {% for type in category.members %}
        <div id="bundle-{{type.id}}" class="admin-item">
          <a class="admin-item__link" href=" {{type.url}} ">{{type.title}}</a>
          <div class="admin-item__title" aria-details="{{type.class}}-desc">{{type.title}}</div>
          <div id="{{type.class}}-desc" class="admin-item__description">{{type.help}}</div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
