
.field--widget-chado-dbxref-widget-default .chado-dbxref-field-wrapper {
  display: flex !important;
}
.field--widget-chado-dbxref-widget-default .chado-dbxref-field-wrapper .form-item {
  margin: 0 0.5rem;
  flex: 1 1 0;
}
.field--widget-chado-dbxref-widget-default .chado-dbxref-field-wrapper .form-item select {
  width: 100%;
  min-width: max-content;
}
